<%- include('partials/header.ejs') %>
<div class="bg-dark bg-gradient p-5">

<div class="container text-white">
  <h1 class="display-5 fw-bold">YelpCamp</h1>

  <p class="fs-3 mb-5">Welcome!</p>

  <p>
    <a href="/campgrounds" class="text-white">
    <button class="btn btn-primary btn-lg">
        View All Campgrounds
    </button>
    </a>
  </p>
</div>
</div>

<%- include('partials/footer.ejs') %>
