<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="mt-5 bg-light p-2 container">
<h1 class="text-center mt-2 fw-bold">
    Create a New Campground
</h1>
<div class="row flex justify-content-around">
<form action="/campgrounds" method="post" class="col-lg-6 form p-5">
    <div class="mb-4 form-group">
        <label for="name">
            Name
        </label>
        <input type="text" name="name" id="name" class="form-control">
    </div>
    <div class="mb-4 form-group">
        <label for="image">
            Image
        </label>
        <input type="text" name="image" id="image" class="form-control">
    </div>
    <div class="form-group mb-4">
        <label for="description">
            Description
        </label>
        <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <div class="mt-4 text-center">
    <button class="btn mb-3 form-control btn-primary">
        Submit
    </button>
    </div>
</form>
</div>
</div>

<%- include('partials/footer.ejs') %>